body{
    background-color: #F5F5F1;
}

/* 
                    HEADER
*/

.my-card{
    width: calc(100% / 3 - 20px);
    background-color: white;
    text-align: center;
    color: #645E56;
    font-family: serif;   
}

.my-card > *{
    width: 100%;
}

/* 
                    MAIN
*/


/* 
                    FOOTER
*/



/* 
                    DEBUG
*/


/* 
                    RESPONSIVE
*/